<div class="tags has-addons">
	<span class="tag is-dark is-medium">
		<i data-feather="github" style="width: 1.5rem"></i>
	</span>
	<span class="tag is-info is-medium">
		<a class="has-text-white" target="_blank" href="https://github.com/miawinter98/MastoGraph">GitHub</a>
	</span>
</div>

@code {

}
