
<footer class="footer">
	<div class="content has-text-centered">
		<p>
			<strong>MastoGraph</strong> by <a href="https://miawinter.de/">Mia Winter</a>
			<span class="tags is-centered m-3">
				<GithubTag />
			</span>
		</p>
	</div>
</footer>

@code {

}
